@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    margin-top:20px;
    padding: 0;
    font-family: 'Rubik Vinyl', cursive;
    text-align: center;
}
.heading h1{
  margin-left: 220px;
}
.heading::after{
    margin: 0;
    content: "______________";
    margin-left: 230px;
}
h3{
    transform: translateX(16%) translateY(100%);
    margin-bottom: 40px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#ground{
    width: 500px;
    height: 500px;
    display: grid;
    margin: 0 auto;
    margin-top: 10px;
    border-right: .4px solid black;
    border-top:.4px solid black; ;
    background-color: rgba(225, 226, 226, 0.342);
}

.exp{
    border-left:.4px solid black;
    border-bottom: .4px solid black
}

/********************BUTTON_STYLES**********
*****************************************/
.styles{
    width: 100px;
    display: block;
    padding: 10px;
    font-size: 15px;
    margin: 30px auto;
    
    border: none;
    background-color: rgb(79, 79, 236);
    border-radius: 3px;
    color: white;
    transition: background-color .6s;
}

.styles:hover{
    background-color: rgb(30, 30, 177);
}


footer{
    background-color: rgb(48, 45, 45);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom:0px;
    width: 100%;
}